/* Pagina 1 Abaixo */
#P1{
    margin: 0;
    padding: 0px;
    background: #f3f3f3;

}
nav{
    display: flex ;
    justify-content: space-around;
    align-items: center;

    background-color: rgb(44, 44, 44);
   
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    padding: 0 20px;
}
#icon{
    width: 130px;
}
.Botoes1{
    display: flex;
    gap: 10px;
}
/* Pagina 2 Abaixo */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-principal {
    display: flex;
    height: 100vh;
    width: 100%;
}

.lado-esquerdo {
    flex: 1;
    background-color: #d98c4a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-circulo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lado-direito {
    flex: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.login-box {
    border: 2px;
    padding: 40px;
    width: 380px;
}

.login-box h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.custom-input {
    background-color: #f2ede9;
    border: none;
    border-radius: 20px;
    padding: 12px 20px;
}

.btn-entrar {
    width: 100%;
    background-color: #b0b0b0;
    color: white;
    border: none;
    padding: 15px;
    font-size: 1.5rem;
    cursor: pointer;
}
.signup-link {
    color: #0000ff;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
}

/* Pagina 3 Abaixo */
#P3 {
    background-color:#393737; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 60px 0;
}
.container3 {
    background-color: white;
    padding: 40px;
    border-radius: 10px; 
    box-shadow: 0 10px 25px rgba(33, 216, 16, 0.1); 
    max-width: 650px; 
    margin-left: auto;  
    margin-right: 145px;  
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#h13, #p13 {
    text-align: center;
}
.col-12{
    display: block;
    text-align: center;
}
.container3 form{
    width: 100%;
    justify-content: center;
}
.New{
    text-align: center;
}

