/* Pagina 1 Abaixo */
#P1{
    margin: 0;
    padding: 0px;
    background: #f3f3f3;

}
nav{
    display: flex ;
    justify-content: space-around;
    align-items: center;

    background-color: rgb(44, 44, 44);
   
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    padding: 0 20px;
}
#icon{
    width: 130px;
}
.Botoes1{
    display: flex;
    gap: 10px;
}
























/* Pagina 2 Abaixo */
#P2{
    background-color: #393737;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container2{
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 10px; 
    box-shadow: 0 10px 25px rgba(22, 126, 13, 0.1);  
    margin-left: auto;  
    margin-right: 145px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px; 
    width: 100%;
}
.col-sm-2, .col-sm-10 {
    width: 100% ; 
    padding-left: 0 ;
    padding-right: 0 ;
    display: block ;
}
.New{
    text-align: center;
}
/* Pagina 3 Abaixo */
#P3 {
    background-color:#393737; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 60px 0;
}
.container3 {
    background-color: white;
    padding: 40px;
    border-radius: 10px; 
    box-shadow: 0 10px 25px rgba(33, 216, 16, 0.1); 
    max-width: 650px; 
    margin-left: auto;  
    margin-right: 145px;  
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#h13, #p13 {
    text-align: center;
}
.col-12{
    display: block;
    text-align: center;
}
.container3 form{
    width: 100%;
    justify-content: center;
}

